/* Coolors Exported Palette - https://coolors.co/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5 */

/* CSS HEX */
--prussian-blue: #012a4aff;
--indigo-dye: #013a63ff;
--indigo-dye-2: #01497cff;
--indigo-dye-3: #014f86ff;
--ucla-blue: #2a6f97ff;
--cerulean: #2c7da0ff;
--air-force-blue: #468fafff;
--air-superiority-blue: #61a5c2ff;
--sky-blue: #89c2d9ff;
--light-blue: #a9d6e5ff;

/* CSS HSL */
--prussian-blue: hsla(206, 97%, 15%, 1);
--indigo-dye: hsla(205, 98%, 20%, 1);
--indigo-dye-2: hsla(205, 98%, 25%, 1);
--indigo-dye-3: hsla(205, 99%, 26%, 1);
--ucla-blue: hsla(202, 56%, 38%, 1);
--cerulean: hsla(198, 57%, 40%, 1);
--air-force-blue: hsla(198, 43%, 48%, 1);
--air-superiority-blue: hsla(198, 44%, 57%, 1);
--sky-blue: hsla(197, 51%, 69%, 1);
--light-blue: hsla(195, 54%, 78%, 1);

/* SCSS HEX */
$prussian-blue: #012a4aff;
$indigo-dye: #013a63ff;
$indigo-dye-2: #01497cff;
$indigo-dye-3: #014f86ff;
$ucla-blue: #2a6f97ff;
$cerulean: #2c7da0ff;
$air-force-blue: #468fafff;
$air-superiority-blue: #61a5c2ff;
$sky-blue: #89c2d9ff;
$light-blue: #a9d6e5ff;

/* SCSS HSL */
$prussian-blue: hsla(206, 97%, 15%, 1);
$indigo-dye: hsla(205, 98%, 20%, 1);
$indigo-dye-2: hsla(205, 98%, 25%, 1);
$indigo-dye-3: hsla(205, 99%, 26%, 1);
$ucla-blue: hsla(202, 56%, 38%, 1);
$cerulean: hsla(198, 57%, 40%, 1);
$air-force-blue: hsla(198, 43%, 48%, 1);
$air-superiority-blue: hsla(198, 44%, 57%, 1);
$sky-blue: hsla(197, 51%, 69%, 1);
$light-blue: hsla(195, 54%, 78%, 1);

/* SCSS RGB */
$prussian-blue: rgba(1, 42, 74, 1);
$indigo-dye: rgba(1, 58, 99, 1);
$indigo-dye-2: rgba(1, 73, 124, 1);
$indigo-dye-3: rgba(1, 79, 134, 1);
$ucla-blue: rgba(42, 111, 151, 1);
$cerulean: rgba(44, 125, 160, 1);
$air-force-blue: rgba(70, 143, 175, 1);
$air-superiority-blue: rgba(97, 165, 194, 1);
$sky-blue: rgba(137, 194, 217, 1);
$light-blue: rgba(169, 214, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-right: linear-gradient(90deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-bottom: linear-gradient(180deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-left: linear-gradient(270deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-top-right: linear-gradient(45deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-bottom-right: linear-gradient(135deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-top-left: linear-gradient(225deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-bottom-left: linear-gradient(315deg, #012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);
$gradient-radial: radial-gradient(#012a4aff, #013a63ff, #01497cff, #014f86ff, #2a6f97ff, #2c7da0ff, #468fafff, #61a5c2ff, #89c2d9ff, #a9d6e5ff);