/* Coolors Exported Palette - https://coolors.co/e3f2fd-bbdefb-90caf9-64b5f6-42a5f5-2196f3-1e88e5-1976d2-1565c0-0d47a1 */

/* CSS HEX */
--alice-blue: #e3f2fdff;
--uranian-blue: #bbdefbff;
--light-sky-blue: #90caf9ff;
--argentinian-blue: #64b5f6ff;
--argentinian-blue-2: #42a5f5ff;
--dodger-blue: #2196f3ff;
--bleu-de-france: #1e88e5ff;
--french-blue: #1976d2ff;
--green-blue: #1565c0ff;
--cobalt-blue: #0d47a1ff;

/* CSS HSL */
--alice-blue: hsla(205, 87%, 94%, 1);
--uranian-blue: hsla(207, 89%, 86%, 1);
--light-sky-blue: hsla(207, 90%, 77%, 1);
--argentinian-blue: hsla(207, 89%, 68%, 1);
--argentinian-blue-2: hsla(207, 90%, 61%, 1);
--dodger-blue: hsla(207, 90%, 54%, 1);
--bleu-de-france: hsla(208, 79%, 51%, 1);
--french-blue: hsla(210, 79%, 46%, 1);
--green-blue: hsla(212, 80%, 42%, 1);
--cobalt-blue: hsla(216, 85%, 34%, 1);

/* SCSS HEX */
$alice-blue: #e3f2fdff;
$uranian-blue: #bbdefbff;
$light-sky-blue: #90caf9ff;
$argentinian-blue: #64b5f6ff;
$argentinian-blue-2: #42a5f5ff;
$dodger-blue: #2196f3ff;
$bleu-de-france: #1e88e5ff;
$french-blue: #1976d2ff;
$green-blue: #1565c0ff;
$cobalt-blue: #0d47a1ff;

/* SCSS HSL */
$alice-blue: hsla(205, 87%, 94%, 1);
$uranian-blue: hsla(207, 89%, 86%, 1);
$light-sky-blue: hsla(207, 90%, 77%, 1);
$argentinian-blue: hsla(207, 89%, 68%, 1);
$argentinian-blue-2: hsla(207, 90%, 61%, 1);
$dodger-blue: hsla(207, 90%, 54%, 1);
$bleu-de-france: hsla(208, 79%, 51%, 1);
$french-blue: hsla(210, 79%, 46%, 1);
$green-blue: hsla(212, 80%, 42%, 1);
$cobalt-blue: hsla(216, 85%, 34%, 1);

/* SCSS RGB */
$alice-blue: rgba(227, 242, 253, 1);
$uranian-blue: rgba(187, 222, 251, 1);
$light-sky-blue: rgba(144, 202, 249, 1);
$argentinian-blue: rgba(100, 181, 246, 1);
$argentinian-blue-2: rgba(66, 165, 245, 1);
$dodger-blue: rgba(33, 150, 243, 1);
$bleu-de-france: rgba(30, 136, 229, 1);
$french-blue: rgba(25, 118, 210, 1);
$green-blue: rgba(21, 101, 192, 1);
$cobalt-blue: rgba(13, 71, 161, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-right: linear-gradient(90deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-bottom: linear-gradient(180deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-left: linear-gradient(270deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-top-right: linear-gradient(45deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-bottom-right: linear-gradient(135deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-top-left: linear-gradient(225deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-bottom-left: linear-gradient(315deg, #e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
$gradient-radial: radial-gradient(#e3f2fdff, #bbdefbff, #90caf9ff, #64b5f6ff, #42a5f5ff, #2196f3ff, #1e88e5ff, #1976d2ff, #1565c0ff, #0d47a1ff);
